@import url('https://fonts.googleapis.com/css?family=Merienda');

* {
	padding: 0;
	margin: 0;
}

html {
	background-color: #FF0000;
}

header {
	margin: 1em;
	border-radius: 1em;
	display; block;
	color: white;
	background-color: black;
	font-family: "Merienda", cursive;
}

header h2 {
	font-size: 50px;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

header nav ul {
	list-style: none;
	background-color: white;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	border: solid black 0.2em;
	border-radius: 0 0 1em 1em;
}

header nav li {
	padding: 0.5em;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

main {
	text-align: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 1em;
	font-family: "Merienda", cursive;
	border: solid black 0.2em;
}

main h1 {
	padding-top: 0.5em;
	text-align: center;
	text-decoration: underline;
	font-size: 1.25em;
}

main h2 {
	font-size: 1.2em;
}

main img {
	border:solid black 0.2em;
	border-radius: 1em;
	background-color: black;
}

body video {
	max-width: 100%;
}

p {
	font-size: 1em;
	padding-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding: 0;
	border-collapse: collapse;
}

table, td, th {
	border: 0.1em solid black;
}

caption {
	font-weight: bold;
}

main h2 {
	margin: 0.5em;
	text-decoration: underline;
}

main figure {
	margin: 1em;
}

figcaption {
	font-size: 0.6em;
	margin-left:auto;
	margin-right:auto;
	max-width: 70%;
}

aside {
	text-align: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 1em;
	font-family: "Merienda", cursive;
	border: solid black 0.2em;
}

aside nav {
	display: none;
}

footer {
	display: none;
}

footer p {
	font-family: "Merienda", cursive;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}


@media screen and (min-width: 1200px) {

header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		grid-area: top;
		margin: 0;
		width: 100%;
		border-radius: 0;
}

header h2 {
	font-size: 36px;
	flex-basis: 25%;
	width: 71%;
	margin-left: 1em;
}

header nav ul {
	background-color: black;
	margin-right: 36px
}

header nav li {
	display: inline;
	margin: 0.4em;
}

header nav a {
	text-decoration: none;
	margin-top: 0;
	padding: 0.5em;
	border: solid black 0.1em;
	color: white;
	background-color: red;
}

header nav a:hover {
	background-color: #FF6347;
}

header nav a[href=""] {
	background-color: #FF6347;
}

body {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
	grid-template-areas: "top top"
				         "middle-left middle-right"
						 "bottom bottom"
}

main {
	grid-area: middle-left;
}

main h1 {
	font-size: 2em;
}

main h2 {
	font-size: 1.7em;
}

p {
	font-size: 1.1em;
}

.gallaside {
	height: 230px;
}

aside {
	grid-area: middle-right;
	height: 430px;
}

aside nav {
	display: block;
}

aside h3, aside a {
	line-height: 2em;
}

aside a:hover {
	opacity:0.5;
}

aside ul {
	list-style: none;
	font-size: 1.1em;
	margin: 0.3em;
}

figcaption {
	font-size: 1em;
}

	
footer {
	display: block;
	grid-area: bottom;
	color: white;
	background-color: black;
}
}